body{
margin:0;
padding:0;
line-height: 1.5em;
}

b{font-size: 110%;}
em{color: red;}


#topsection{
background: #EAEAEA;
height: 90px;
}

#topsection h1{
margin: 0;
padding-top: 15px;
}

#contentwrapper{
float: left;
width: 100%;
}

#contentcolumn{
margin-left: 200px;
}

#leftcolumn{
float: left;
width: 200px;
margin-left: -100%;
background: #C8FC98;
}

#footer{
clear: left;
width: 100%;
background: black;
color: #FFF;
text-align: center;
padding: 4px 0;
}

#footer a{
color: #FFFF80;
}

.innertube{
margin: 10px;
margin-top: 0;
}
@media (max-width: 600px){
	#contentwrapper{
	float: none;
	}
	
	#leftcolumn{
	float: none;
	width: 100%;
	margin-left: 0;
	}
	
	#contentcolumn{
	margin-left: 0;
	}
}
/* ####### Acá va su código ####### */
img{
	height: 170px;
	width: 170px;
	padding-left: 1px;
	padding-right: 1px;
}


#linkeado{
	border: 3px solid #C8FC98;
	border-radius: 8px;
	/*border: solid black 2px;
	border-radius: 8px;*/
	width: 176px;
	height: 176px;
}

#linkeado:hover {
	border: 3px solid white;
}